.about{
    padding: 50px 0px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }
    p{
        max-width: 532px;
    }
    h4{
        max-width: 468px;
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 30px;
    }
    p{
        font-size: 16px;
        line-height: 1.5;
        color:  var( --text-gray);
        max-width: 532px;
    }
}
.about-video{
    position: relative;
    width: 550px;
    height: 372px;
    border-radius: 35px;
    background-color: var(--background-gray);
}
.play{
    display: block;
    position: relative;
    top: calc(50% - 39px);
    left: calc(50% - 39px);
    padding: 23px 32px 0px;
    width: 78px;
    height: 78px;
    border-radius: 50px;
    background-color: var(--blue);
    cursor: pointer;
}
.play:hover{
    background-color: var(--background-gray);
}
.d6 {
    position: absolute;
   
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    }
.ball{
    position: absolute;
    bottom: -64px;
    right: -42px;
    width: 129px;
    height: 129px;
    border-radius: 50%;
    z-index: -1;
    background-color: #FFF5DB;
}
.about-content{
    position: relative;
    padding: 24px 0 0 39px;
}
.about-content-fon{
    position: absolute;
    width: 178px;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.background-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}